* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cor-card {
    background-color: rgba(109, 109, 109, 0.5);
}

body#home{
    background-image: url("../img/fernando-de-noronha.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(109, 109, 109, 0.5);
}