* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fernando-de-noronha.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95px 1fr;
    grid-template-areas: 
        "header"
        "main"
    ;
}

header {
    grid-area: header;
    background-color: rgba(109, 109, 109, 0.5);
}

main {
    grid-area: main;
    min-height: calc(100vh - 95px);
}